.mycake-article{
  padding: 20rem/$baseFontSize 30rem/$baseFontSize;
  .article-head {
    border-top: 1px solid $mainColor;
    h3{
      margin:30rem/$baseFontSize 0;
      float: left;
      text-align: center;
      font-size: 26rem/$baseFontSize;
      color: $mainColor;
      line-height: 30rem/$baseFontSize;
      height: 30rem/$baseFontSize;
      background-color: rgba(68,40,28,0.3);
      width: 180rem/$baseFontSize;
      border-radius: 30rem/$baseFontSize;
      padding: 5rem/$baseFontSize 0px;
    }
  }
  .swiper-container{
    width: 100%;
    height: 300rem/$baseFontSize;
    .swiper-slide{
      font-size: 18px;
      background: #fff;
      width: 75%;
      overflow: hidden;
      a{
        display: inline-block;
        width: 98%;
        height: 97%;
        margin-top: 2px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
        img{
          display: block;
          width: 100%;
          height: 220rem/$baseFontSize;
        }
        span{
          line-height: 80rem/$baseFontSize;
          display: block;
          font-size: 22rem/$baseFontSize;
          text-indent: 1em;
        }
      }
      &:last-child {
        width: 24%;
        display: block;
        height: 100%;
        a{
          position: relative;
          span{
            width: 120rem/$baseFontSize;
            height: 40rem/$baseFontSize;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -35rem/$baseFontSize;
            margin-left: -55rem/$baseFontSize;
          }
        }
      }
    }
  }
}