@charset "UTF-8";
.product-list{
  padding: 20rem/$baseFontSize 30rem/$baseFontSize;
  //共同样式
  .product-head h3{
    margin:30rem/$baseFontSize 0;
    float: left;
    text-align: center;
    font-size: 26rem/$baseFontSize;
    color: $mainColor;
    line-height: 30rem/$baseFontSize;
    height: 30rem/$baseFontSize;
    background-color: rgba(68,40,28,0.3);
    width: 100rem/$baseFontSize;
    border-radius: 30rem/$baseFontSize;
    padding: 5rem/$baseFontSize 0px;
  }

  .product-head a{
    display: inline-block;
    text-align: center;
    margin:30rem/$baseFontSize 0;
    padding: 5rem/$baseFontSize 0px;
    font-size: 30rem/$baseFontSize;
    float: right;
    line-height: 30rem/$baseFontSize;
    height: 30rem/$baseFontSize;
    &:after{
      content: "";
      display: inline-block;
      width: 10rem/$baseFontSize;
      height: 16rem/$baseFontSize;
      margin-left: 10rem/$baseFontSize;
      background-image: url("../images/more.png");
      background-repeat: no-repeat;
      background-position: 1rem/$baseFontSize 0rem/$baseFontSize;
      background-size: 9rem/$baseFontSize 14rem/$baseFontSize;

    }
  }

  .content {
    width: 100%;
    .functions-item{
      overflow: hidden;
    }
    .functions-item_lg {
      box-shadow: 0px 3rem/$baseFontSize 3rem/$baseFontSize rgba(0,0,0,0.3);
      width: 49.3%;
      position: relative;
      height: 380rem/$baseFontSize;
      img {
        width: 100%;
        height: 380rem/$baseFontSize;
      }
    }
    .functions-item_sm {
      box-shadow: 0px 3rem/$baseFontSize 3rem/$baseFontSize rgba(0,0,0,0.3);
      width: 49.3%;
      position: relative;
      height: 185.17rem/$baseFontSize;
      img {
        width: 100%;
        height: 185.17rem/$baseFontSize;
      }
      &:last-child{
        margin-top: 10rem/$baseFontSize;
      }
    }
    .functions-bg {
      height: 60rem/$baseFontSize;
      line-height: 60rem/$baseFontSize;
      background: rgba(68, 40, 28, 0.56);
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      .bg-title {
        margin-left:10rem/$baseFontSize;
        font-size: 24rem/$baseFontSize;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 1rem/$baseFontSize 4rem/$baseFontSize rgba(0, 0, 0, 0.5);
        span {
          font-size: 16rem/$baseFontSize;
          color: #FFFFFF;
          display: inline-block;
        }
      }

      a{
        &.cart-icon{
          display: inline-block;
          width: 59rem/$baseFontSize;
          height: 59rem/$baseFontSize;
          right: 10rem/$baseFontSize;
          top: 50%;
          margin-top: -29rem/$baseFontSize;
          position: absolute;
          background-image:url("../images/new-home-icon.png");
          background-repeat: no-repeat;
          background-size: 105rem/$baseFontSize 59rem/$baseFontSize;
          background-position: -40rem/$baseFontSize 2rem/$baseFontSize;
        }
      }
    }

  }

  //新品
  .new-product{
    border-top: 1px solid $mainColor;
  }
  //生日
  .birthday-product{

  }

  //儿童


  //聚会

  //活动
}