.header-box {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  &>.top-header{
    max-width: 750px;
    min-width: 320px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    height: 50px;
    &>.open-app{
      height: 50px;
      background:#442818;
      padding-right:12px;
      overflow:hidden;
      vertical-align: middle;
      i{
        color: #fff;
        float: left;
        font-size: 16px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        width: 20px;
        padding: 0px 20px;
        cursor: pointer;
      }
      img{
        float: left;
        padding: 9px 5px;
        height: 32px;
        width: 32px;
        margin-right: 6px;
        border-radius: 8px;
      }
      span{
        float: left;
        padding: 8px;
        width: 100px;
        line-height: 15px;
        color: #fff;
        font-size: 11px;
        margin-top: 3px;
      }
      a{
        font-size: 14px;
        height: 25px;
        width: 68px;
        background: #fff;
        color: #333;
        line-height: 25px;
        text-align: center;
        float: right;
        margin-top: 12px;
      }
    }
    &>.title-box{
      width: 100%;
      background:#fff;
      height: 50px;
      line-height: 50px;
      position: relative;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      .left-icon{
        float: left;
        margin-left: 15px;
        font-size: 20px;
      }
      .city{
        float: left;
        height: 18px;
        margin-left: 10px;
        i{
          font-size: 20px;
        }
      }

      .eader-center{
        position: absolute;
        left: 50%;
        top: 0;
        display: inline-block;
        width: 120px;
        margin-left: -60px;
        height: 30px;
        text-align: center;
        font-size: 15px;
        .title-logo{
          width: 35px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .right-cart-city{
        height: 100%;
        float: right;
        .user_icons{
          height: 50px;
          width: 25px;
          float: left;
          font-size: 18px;
        }
        .top-cart{
          height: 50px;
          width: 25px;
          float: right;
          position: relative;
          margin: 0 15px 0 10px;
          font-size: 26px;
        }
      }
      .top-header-menu{
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        height: 54px;
        background: #fff;
        overflow: hidden;
        display: none;
        box-shadow: 0px 7px 10px 0px rgba(145, 145, 145, 0.50);
        z-index: 10000;

        &.show{
          display: block;
        }
        a{
          padding-top: 5px;
          display: block;
          width: 33%;
          float: left;
          text-align: center;
          line-height: 0;
          i{
            display: inline-block;
            height: 25px;
            width: 25px;
          }
          span{
            display: block;
            line-height: 20px;
          }
        }
        .menu-home i{
          background: url(../images/menu-home.png) no-repeat center top;
          background-size: 25px 25px;
        }
        .menu-class i{
          background: url(../images/menu-icon-class.png) no-repeat center top;
          background-size: 25px 25px;
        }
        .menu-per i{
          background: url(../images/menu-icon-per.png) no-repeat center top;
          background-size: 25px 25px;
        }
      }
  }
}
}


